.hnf {
  &--footer {
    background-color: $mainBlue;
    color: #FFF;
    padding: .5rem 0;
    text-align: center;
    font-weight: 200;
    &--text {
      display: block;
      margin-bottom: 1rem;

      @mixin atMedium{
        display: inline;
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }
  }


  &--header {
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    transition: background-color .3s ease-out;

    @mixin atMedium {
      background-color: rgba($mainBlue,.3);
      position: fixed;
    }

    &--scrolling {
      @mixin atMedium {
        background-color: rgba($mainBlue,.9);
      }
    }

    &--is-expanded {
      background-color: rgba($mainBlue,.55);
    }

    &--logo {
      position: absolute;
      background-color: rgba($mainBlue,1);
      top: 0;
      left: 50%;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      transform: translateX(-50%) scale(0.8);
      transform-origin: 50% 0;
      padding: 25px 36px;

      @mixin atMedium {
        left: auto;
        transform: translateX(0);

        .hnf--header--scrolling & {
          transform: scale(.55);
          background-color: rgba($mainBlue,0);
        }
      }
    }

    &--btn-container {
      @mixin atMedium {
        float: right;
      }
    }

    &--menu-content {
      opacity: 0;
      transform: scale(1.2);
      transition: all .3s ease-out;
      position: relative;
      z-index: -10;
      padding-top: 90px;
      text-align: center;

      @mixin atMedium {
        opacity: 1;
        z-index: 1;
        padding-top: 0;
        transform: scale(1);
      }

      &--is-visible {
        opacity: 1;
        z-index: 1;
        transform: scale(1);
      }
    }

    &--menu-icon{
      width: 20px;
      height: 19px;
      position: absolute;
      z-index: 10;
      top: 10px;
      right: 10px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #FFF;
        transform-origin: 0 50%;
        transition: transform .3s ease-out;
      }

      &__middle {
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #FFF;
        transition: all .3s ease-out;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #FFF;
        transform-origin: 0 50%;
        transition: transform .3s ease-out;
      }

      @mixin atMedium {
        display: none;
      }
      &--close-x {
        &::before {
          transform: rotate(45deg);
          width: 23px;
        }

        .hnf--header--menu-icon__middle {
          opacity: 0;
          transform: scaleX(0);
        }

        &::after {
          transform: rotate(-45deg);
          width: 23px;
        }
      }
    }
  }
}
